#sidebar {
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 250px;
  margin: 0%;
}

.sidebar-top {
  height: 4rem;
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.sidebar-item:not(.sidebar-info-list) {
  padding: .5rem 1.25rem;
}

.sidebar-info-list {
  border:none;
  display:block;
}

.not-sidebar {
   padding-left:250px;
}

#sidebar-toggle:hover,
#sidebar-toggle:focus,
#sidebar-toggle:active,
#sidebar-toggle.active,
#sidebar-toggle.disabled,
#sidebar-toggle[disabled] {
  color: #ffffff;
  background: #343a40;
}
